<html>
    <head>
        <title>Chat</title>
        <script src="../javascripts/chat.js"></script>
        <style>
            div.msg{
                background-color: #444444;
                width: 800px;
                height: 600px;
                color: #ffffff;
                padding: 10px;
            }
            input.msg{
                width:734px;
            }
        </style>
    </head>
    <body>
        <h1>Chat with the server</h1>
        <div id="login"></div>
        <div id="chat"></div>
    </body>
</html>