<html>

<head>

</head>

<body>
    <video id="video" autoplay width="800" height="600"></video>
    <video id="stream" autoplay width="800" height="600"></video>
    <script>
        let stream
        let chunks = [];
        let mediaRecorder
        let streamVid

        let ms = new MediaSource();
        let srcbuff

        navigator.mediaDevices.getDisplayMedia({ audio: true, video: true }).then(async vid => {
            document.getElementById("video").srcObject = vid
            streamVid = document.getElementById("stream")


            let options = {
                audioBitsPerSecond: 128000,
                videoBitsPerSecond: 2500000,
                mimeType: 'video/webm'
            }
            mediaRecorder = new MediaRecorder(vid, options)
            stream = mediaRecorder.stream;
            console.log(stream)
            mediaRecorder.addEventListener("dataavailable", handleData)
            //mediaRecorder.addEventListener("stop", stopping)
            mediaRecorder.start(5000);// After 5 seconds create new Chunk
            

            ms.addEventListener('sourceopen',receiveStreamData)
            console.log(ms.readyState)
            //receiveStreamData();

            streamVid.src = URL.createObjectURL(ms);
            //await receiveStreamData()

            //startAndStop()
        })
        async function handleData(event) {
            console.log("HANDLE DATA")
            if (event.data.size > 0) {
                
                var data = new FormData();
                data.append('featuredVid', event.data)

                await fetch('/livesupport/send', {
                    method: "POST",
                    body: data
                })
                //chunks.push(event.data)
                //console.log(chunks)
            } else {}
        }

        async function receiveStreamData(){
            console.log("RECEIVE")
            console.log(ms.readyState)
            //console.log("RECEIVE DATA")
            ////////////////////////////////////////////////////////////////
            //TOOO MUCH CODE!!!!!!!!!!!!
            //let resp = await (await fetch('/livesupport/rec')).blob()
            //let resp = await fetch('/livesupport/rec')
            if(ms.readyState=="open"){
            let resp = await fetch('/livesupport/rec').then(response => {
                console.log("HELLO READER")
                const reader = response.body.getReader();
                return new ReadableStream({
                    start(controller) {
                        return pump();
                        function pump() {
                            return reader.read().then(({ done, value }) => {
                                if (done) {
                                    controller.close();
                                    return;
                                } else {
                                    controller.enqueue(value);
                                    return pump();
                                }
                            });
                        }
                    }
                })
            }).then(stream => {
                    return new Response(stream);
                }).then(response => {
                    return response.arrayBuffer()
                }).then(data => {
                    //let bl = new Blob([data], { type: "video/webm" });
                    return data;
                }).catch(error => {
                    console.error(error);
                    USB.RIC.ERROR.DisplayCaughtError(error);
                    return "[]";
                });


            //console.log(resp)
                    //lastBuffer = resp
                    //console.log(srcbuff)
                    srcbuff = ms.addSourceBuffer('video/webm;codecs="vorbis,vp8')
                    srcbuff.appendBuffer(resp)

                ////////////////////////////////////////////////////
                //let vidurl = URL.createObjectURL(resp);

                //nextBlobUrl = URL.createObjectURL(await resp.blob())
                //let res = URL.createObjectURL(await resp.blob())
                //streamVid.src = res
                //showVid.controls = true
            }

        }
        let lastBuffer




        let clipContainer,showVid
        let firstTime = true

        /*async function stopping(e) {
            console.log("data available after MediaRecorder.stop() called.");
            if(firstTime){
            clipContainer = document.createElement('article');
            showVid = document.createElement('video');
            //const downloadbtn = document.createElement('button')

            //downloadbtn.innerText = "DOWNLOAD"

            clipContainer.appendChild(showVid);
            //clipContainer.appendChild(downloadbtn)
            document.body.appendChild(clipContainer);
            firstTime=false
            }

            const blob = new Blob(chunks, { 'type': 'video/webm;' });
            chunks = [];

            console.log(blob)

            var data = new FormData();
            data.append('featuredVid', blob)

            await fetch('/livesupport/send', {
                method: "POST",
                body: data
            })

            let resp = await fetch('/livesupport/rec').then(response => {
                console.log("HELLO READER")
                const reader = response.body.getReader();
                return new ReadableStream({
                    start(controller) {
                        return pump();
                        function pump() {
                            return reader.read().then(({ done, value }) => {
                                if (done) {
                                    controller.close();
                                    return;
                                } else {
                                    console.log("RECEIVE")
                                    controller.enqueue(value);
                                    return pump();
                                }
                            });
                        }
                    }
                })
            }).then(stream => {
                    return new Response(stream);
                }).then(response => {
                    return response.blob()
                }).then(data => {
                    let bl = new Blob([data], { type: "video/webm" });
                    return bl;
                }).catch(error => {
                    console.error(error);
                    USB.RIC.ERROR.DisplayCaughtError(error);
                    return "[]";
                });
            console.log(resp)
            console.log(resp.type)

            let vidurl = URL.createObjectURL(resp);

            showVid.src = vidurl
            showVid.width = 800;
            showVid.height = 600;
            showVid.controls = true
            showVid.play()
            console.log("recorder stopped");
            /*downloadbtn.addEventListener("click", ev => {
                var a = document.createElement('a');
                document.body.appendChild(a);
                a.style = 'display: none';
                a.href = vidurl;
                a.download = 'test.webm';
                a.click();
                window.URL.revokeObjectURL(url);
            })
        }*/










    </script>
</body>

</html>