<html>
    <head>
        <title>Live Support</title>
        <script src="../javascripts/peerjs.min.js"></script>
        <script src="../javascripts/ls-sup.js"></script>
    </head>
    <body>
        <!--
        <button id="ls.helpbtn">Help</button>
        <div id="ls.vid-grid" hidden>
            <div id="ls.vid-me-grid">
                <video id="ls.vid-me" width="200" height="200" autoplay></video>
            </div>
            <div id="ls.vid-sup-grid">
                <video id="ls.vid-sup" width="800" height="600" autoplay></video>
            </div>
        </div>
    -->
        <ls-help></ls-help>
        <ls-videos></ls-videos>
        <ls-wait></ls-wait>
    </body>
</html>