<html>
    <head>
        <title>user</title>
        <style>
            button.red {
                color:green;
                background-color: red;
            }
            button.blue {
                color:yellow;
                background-color: blue;
            }
            button.purple {
                color: black;
                background-color: purple;
            }
        </style>
    </head>
    <body>
        <h1>Hello User</h1>
        <button id="button2" class="red">Eventlistener</button>
        
        <input id="question">
        <button id="button1">Double String</button>
        <p id="answer"></p>

        <script>
            document.getElementById("button1").addEventListener("click",button1)

            document.getElementById("button2").addEventListener("click",buttonEvent)
            document.getElementById("button2").addEventListener("mouseenter",hoverEvent)
            document.getElementById("button2").addEventListener("mouseleave",unhoverEvent)

            let col;

            function hoverEvent(event){
                //console.log(event.type+" "+col)
                col = event.target.className
                document.getElementById(event.target.id).className="purple"
            }
            function unhoverEvent(event){
                document.getElementById(event.target.id).className=col
            }

            async function button1(event){
                let txt = document.getElementById("question").value
                console.log("Sending "+txt)
                fetch("/users/double",{
                    "method":'POST', 
                "cache":"no-cache", 
                credentials: 'same-origin',
                "headers":{'Content-Type': 'application/json'},
                "body":JSON.stringify({"test":txt})})
                .then(response=>{
                    response.json().then(resp=>{
                        console.log(resp.antwort)

                        document.getElementById("answer").innerText=resp.antwort
                    }).catch((err)=>{
                      console.log(err)  
                    })
                }).catch((err)=>{
                      console.log(err)  
                    })
                /*fetch("/users/double",{
                    Method:'POST'
                }).then(response=>{
                    console.log(response)
                })*/
            }

            async function buttonEvent(event){
                //alert("You clicked a button!")
                //console.log("test",event)
                
                ////////////////////////////////////////////////
                //async function getConfirmation(){
                    //let ok = await fetch("/users/abfrage")
                    //console.log(await ok.text())

                    //let ok = 
                    fetch("/users/abfrage").then( ok => {
                    //console.log(await ok.json())

                    //let ok = confirm("Ok or Abort?")
                

                    ok.json().then(function(okj){
                        let tag = document.createElement("p")
                        let res = okj.antwort

                        //console.log(res)

                        let oktxt = document.createTextNode(res)
                        //let oktxt = document.createTextNode("You clicked "+(ok?"ok":"abort."))
                        tag.appendChild(oktxt)
                    
                        document.getElementById("affirmation").appendChild(tag)
                    }).catch((err)=>{
                        console.error(error)
                    })

                    }).catch((err)=>{
                        console.error(error)
                    })
                //}
                //getConfirmation();

                

                
                if(col=="red"){
                    col = "blue"
                }
                else if(col=="blue"){
                    col = "red"
                }
            }
        </script>

        <p>Use the addEventListener() method to attach a "click" event to a p element:</p>

        <p id="demo">Click me.</p>

        <div id="affirmation"></div>

        <canvas id="screen" width="750" height="550"></canvas>

        <script>
            document.getElementById("demo").addEventListener("click", myFunction);

            function myFunction() {
                document.getElementById("demo").innerHTML = "YOU CLICKED ME!";
            }

            window.addEventListener("keydown",keyDown)

            function keyDown(e){
                var keynum;

                if(window.event) { // IE                  
                    keynum = e.keyCode;
                } else if(e.which){ // Netscape/Firefox/Opera                 
                    keynum = e.which;
                }

                console.log("Key: "+keynum)
            }

            let screen = document.getElementById("screen")
            let c = screen.getContext("2d");

            let object = {x:0,y:0,wid:27,hei:30,speed:0.1,velx:0,vely:0}

            let h=0
            let s=0
            let v=0

            function gameloop(){
                object.x+=object.velx
                object.y+=object.vely

                if(object.x<=0){
                    object.velx=object.speed
                }
                if(object.y<=0){
                    object.vely=object.speed
                }
                if(object.x+object.wid>=screen.width){
                    object.velx=-object.speed
                }
                if(object.y+object.hei>=screen.height){
                    object.vely=-object.speed
                }
                //==================================fillbackground
                //c.fillStyle = "rgb(256,256,256)"
                //c.fillRect(0,0,screen.width,screen.height)
                
                //r+=5
                //if(r>=256){
                //    r=0
                //    g+=10
                //   if(g>=256){
                //        g=0
                //        b+=15
                //        if(b>=256){
                //            b=0
                //        }
                //    }
                //}
                
                h+=0.1
                s=object.x/screen.width*100
                //s=100
                //s=object.x/screen.height*100
                v=object.y/screen.height*100
                //v=50


                c.fillStyle = "hsl("+h+","+s+"%,"+v+"%)";
                c.fillRect( object.x, object.y, object.wid, object.hei );
                //c.fillStyle = "rgb(256,0,256)";
                //c.fillRect( object.x+5, object.y+5, object.wid-5, object.hei-5 );

                //c.drawImage(img,object.x,object.y,object.wid,object.hei);

                t = setTimeout(gameloop,0)
            }
            gameloop()

        </script>
    </body>
</html>